{% extends "blogapp/base.html" %}

{% block content %}
<h1 class="mb-3">
Posts by {{ view.kwargs.username }} ({{page_obj.paginator.count}})
</h1>
<br>
{% for post in posts %}

<div class="card shadow-sm text-white bg-dark  p-0 mb-3  ">


    <!--    <div class="card-header bg-transparent pb-0 row text-right">-->
    <div class="row p-1">

        <img class=" ml-3 align-self-start rounded-circle" style="height: 50px;"
             src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }} Profile Photo">

        <div class="col">
            <h4 class=" pl-3 text-left text-bold">
                <a class="text-white" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            </h4>
        </div>
        <div class="col text-right align-right text-align-center">


            <p class="d-inline font-weight-bolder text-white">
                <a class=" d-inline font-weight-bolder text-white" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </p>
            <small class="">- {{ post.date_posted|date:"F d, Y" }}</small>

        </div>

    </div>


    <div class="card-body">

        <p class="">{{ post.content }}</p>

    </div>


</div>


{% endfor %}


{% if is_paginated %}


<nav aria-label="...">


    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}</a></li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{ page_obj.number }}">Previous</a>
        </li>
        {% endif %}


        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}"> {{ page_obj.number}} <span class="sr-only">(current)</span></a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
            {{page_obj.next_page_number }}</a></li>


        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}

        <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number|add:1 }}
        </a></li>

        <li class="page-item disabled">
            <a class="page-link" href="?page={{ page_obj.number }}">Next</a>
        </li>
        {% endif %}


    </ul>
</nav>


{% endif %}

{% endblock content %}